.info {
    position: relative;
    font-size: 18px;

    padding-left: 26px;

    &::after {
        content: "";
        
        position: absolute;
        left: 0px;
        top: 50%;
        width: 21px;
        height: 21px;
        transform: translate(0%, -50%);
        
        
        background-repeat: no-repeat;
        background-position: center;
    }

    &--map::after {
        background-image: url('/img/header/map.svg');
    }

    &--tel::after {
        background-image: url('/img/header/phone.svg');
    }

    @include mediaTablet {
        
    }
}